@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
    letter-spacing: 1px;
}

.container {
    width: 100%;
    height: 100svh;
    overflow: hidden;
}

nav {
    width: 95%;
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
    position: relative;
    margin: auto;

    & .toggle {
        display: none;
    }

    & .navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;

        & #login {
            display: flex;
            align-items: center;
            gap: 20px;

            & a {
                display: block;
                text-decoration: none;
                color: #000000;
                border: 2px solid transparent;
                border-radius: 10px;
                padding: 8px;
                width: 100%;
                text-align: center;
                transition: all 0.5s;
            }

            & a:hover {
                color: #000;
                border: 2px solid #000;
                background-color: #ffffff;
                box-shadow: 0 0;
            }
        }

        & #navbar_list {
            display: flex;
            align-items: center;
            gap: 30px;

            & .line::before {
                content: "";
                position: absolute;
                height: 3px;
                background-color: #000;
                bottom: -6px;
                left: 51%;
                right: 51%;
                transition: all 0.5s ease;
                border-radius: 3px;
            }

            & .line:hover::before {
                left: 10px;
                right: 10px;
            }

            & li {
                border: 1px solid transparent;
                padding: 5px 10px;
                list-style: none;
                cursor: pointer;
                position: relative;
                transition: all 0.5s;

                & img {
                    margin-left: 3px;
                    transition: all 0.3s ease;
                }

                & #accordion_feature,
                #accordion_company {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 190%;
                    width: fit-content;
                    padding: 5px;
                    box-shadow: 0 3px 20px #00000020;
                    border-radius: 10px;
                    scale: 0;
                    transition: all 0.5s;
                    background-color: #fff;

                    & li {
                        border: 2px solid transparent;
                        width: 150px;
                        padding: 5px 10px;
                        transition: all 0.5s;

                        & img {
                            width: 15px;
                            height: 15px;
                            margin-right: 5px;
                        }
                    }
                }
            }

            & #features.active img,
            #company.active img {
                transform: rotate(180deg);
            }
        }
    }
}

.hero {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;

    & .left {
        width: 45%;

        & h1 {
            font-size: 3.2rem;
            margin-top: 5rem;

            & span {
                display: block;
            }
        }

        & p {
            margin-top: 3rem;
        }

        & a {
            display: block;
            margin-top: 3rem;
            padding: 10px 20px;
            border: 2px solid #eee;
            width: fit-content;
            border-radius: 8px;
            color: #fff;
            background-color: #000;
            text-decoration: none;
            transition: all 0.3s;
            font-weight: 700;
        }

        & a:hover {
            border: 2px solid #000;
            background-color: #fff;
            color: #000;
        }

        & .sponsor {
            display: flex;
            width: 100%;
            height: 25px;
            margin-top: 6rem;
            justify-content: space-between;
        }
    }

    & .right {
        width: 40%;
        align-items: end;

        & img {
            width: 100%;
            height: 100%;
        }
    }
}

#features,
#company {
    position: relative;
    z-index: 10;
}

#accordion_company {
    left: -100px;
}

#accordion_feature {
    left: -100px;
}

#accordion_company.active {
    left: -10px !important;
    scale: 1 !important;
}

#accordion_feature.active {
    left: -50px !important;
    scale: 1 !important;
}

/* hover */
#company .accordion #accordion_company li:hover,
#features .accordion #accordion_feature li:hover {
    border: 2px solid #000;
    border-radius: 8px;
    background: #00000030;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        height: fit-content;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: auto;

        & .toggle {
            display: flex;
            align-items: center;
            width: 50px;
            height: 40px;
            position: relative;
            justify-content: center;
            cursor: pointer;
        }

        & .toggle span {
            position: absolute;
            width: 40px;
            height: 3px;
            background-color: #000;
            transition: all 0.5s ease;
        }

        & .toggle span:nth-child(1) {
            transform: translateY(-10px);
            width: 20px;
        }

        & .toggle span:nth-child(3) {
            transform: translateY(10px);
            width: 30px;
        }

        & .toggle.open span:nth-child(1) {
            transform: translateY(0) rotate(45deg);
            width: 40px;
        }

        & .toggle.open span:nth-child(2) {
            transform: scale(0);
        }

        & .toggle.open span:nth-child(3) {
            transform: translateY(0) rotate(-45deg);
            width: 40px;
        }

        & .navbar.show {
            right: 0;
            scale: 1;
        }

        & .navbar {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 90%;
            width: 250px;
            padding: 20px;
            right: -100%;
            color: #fff;
            border-radius: 10px;
            background-color: #0c0c0c7a;
            backdrop-filter: blur(4px);
            box-shadow: 0 5px 20px #00000030;
            scale: 0;
            transition: all 0.5s;
            border: 2px solid #000;
            z-index: 99;

            & #navbar_list {
                display: flex;
                flex-direction: column;
                align-items: start;
                width: 100%;
                gap: 20px;

                & li {
                    list-style: none;
                    cursor: pointer;

                    & #accordion_feature,
                    #accordion_company {
                        display: none;
                        flex-direction: column;
                        position: relative;
                        top: 100%;
                        left: 0;
                        width: fit-content;
                        padding: 5px;
                        box-shadow: none;
                        border-radius: 10px;
                        scale: 1;
                        background-color: transparent;

                        & li {
                            border: 2px solid transparent;
                            width: 180px;
                        }
                    }
                }
            }

            & #login {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                margin-top: 30px;

                & a {
                    display: block;
                    text-decoration: none;
                    color: #fff;
                    border: 2px solid transparent;
                    border-radius: 10px;
                    padding: 8px;
                    width: 100%;
                    text-align: center;
                    transition: all 0.5s;
                }

                & a:hover {
                    color: #000;
                    border: 2px solid #000;
                    background-color: #ffffff;
                    box-shadow: 0 0;
                }
            }
        }
    }

    .hero {
        display: flex;
        flex-direction: column;

        & .left {
            width: 100%;
            margin-bottom: 50px;
        }

        & .right {
            width: 100%;
            order: -1;
        }
    }

    #accordion_company.active,
    #accordion_feature.active {
        display: flex !important;
        left: 0 !important;
    }

    #company .accordion #accordion_company li:hover,
    #features .accordion #accordion_feature li:hover {
        border: 2px solid #000;
        border-radius: 8px;
        background: #000000;
        box-shadow: -0px -0px 1px 2px black inset, 0 0 1px 4px chartreuse inset;
    }
}
